.album-dynamic-grid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 50px 30px;
}

.scroll-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.movie-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
  align-items: center; /* Ensure images stay vertically centered */
}

.movie-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.movie-item {
  max-height: 100%;
  margin-right: 20px;
  text-align: center;
  padding: 10px;
  transition: transform 0.3s ease;
  display: flex; /* Ensures the item remains vertically centered */
  align-items: center; /* Centers the image vertically */
}

.movie-item img {
  width: 400px;
  height: auto;
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: block; /* Ensures the image behaves as a block element */
}

.movie-item:hover {
  transform: scale(1.1);
}

.scroll-btn {
  background-color: #030201;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
}

.addButton {
  display: flex;
  height: 35px;
  border-radius: 5px;
}

.shows-section {
  padding: 50px 0;
}

.carousel .slide img {
  max-height: 68vh;
  width: auto;
  object-fit: cover;
}